body{
    background-color: #3f3f0f;
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}
.parallax {
    width: 100vw;
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
.a1{
    
    background-image: url("https://i.imgflip.com/9jdgo0.jpg");
}

.a2{
    background-image: url("https://i.imgflip.com/9jdg35.jpg");
}

  .midline{
    display: flex;
    height: 100px; 
    color: white;
    background-color: black; 
    font-size: 36px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}